<div id="particles-js">
  <div class="header">
      <h1 style="padding-bottom: 1em;">
          <a class="link" href="index.html"><img src="/assets/img/logo.png" style="width: 150px; height: 170px;"></a>
        <span class="site-description">{{site.user_title}}</span>
      </h1><br><br>
      <div class="header-icons">
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{site.instagram}}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://fb.com/{{site.facebook}}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre</a>
        <a class="link" href="#campanha2019" data-scroll>Campanha 2019</a>
        <a class="link" href="#projects" data-scroll>Onde Estamos</a>
        <a class="link" href="/blog/#posts">Blog</a>
        <a class="link" href="#apoie" data-scroll>Apoie</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
