<div class="user-details">
  <h1> Onde Estamos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mamanguape.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mamanguape </h3>
    <p>Também conhecida como a "Rainha do Vale", ela é a cidade-mãe da nossa campanha pois foi lá que o projeto nasceu. Hoje é o municipio que reúne o maior número de voluntários. Desde 2012, o Eu Amo Vida vem atuando em Mamanguape e o resultado tem sido muito bonito: Mais de 800 familias mamanguapenses já foram ajudadas através das cestas básicas arrecadadas, além dos livros infantis, das fraldas descartáveis, dos brinquedos, dos materiais de limpeza e higiene pessoal que foram entregues a comunidades carentes e hospitais filantrópicos da capital paraibana.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/guarabira.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Guarabira </h3>
    <p>O Eu Amo Vida chegou em Guarabira no ano de 2016 e alcançou resultados mais do que esperados para uma primeira edição. Sob a coordenação de Matheus Clímaco e Karla Barreto, o projeto contou com 225 colaboradores (através da aquisição da camisa) e arrecadou mais de uma tonelada de alimentos, transformados em 250 cestas básicas distribuídas em comunidades carentes da cidade. Além disso, foram arrecadadas fraldas descartáveis e a parceria com o Hemonúcleo local impulsionou a doação de sangue. A campanha causou tanto impacto para os guarabirenses, que virou notícia no programa Paraíba Comunidade, exibido pela TV Cabo Branco em 27 de novembro de 2016. <a href="http://g1.globo.com/pb/paraiba/paraiba-comunidade/videos/t/edicoes/v/jovens-solidarios-eu-amo-vida-e-streetstyle-tambem-reunem-voluntarios-bloco-2/5476862/">Confira aqui!</a></p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/baia.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Baía da Traição </h3>
    <p>Sob a coordenação de Maria Eduarda Henriques e Liz Gabrielle Rodrigues, a cidade sediou a primeira edição do nosso projeto em março de 2017. O evento, que contou com uma belíssima vista para o mar, foi carinhosamente chamado de Eu Amo Vida Beach e lançou uma camiseta especial que combinou perfeitamente com o clima da região. Muitos imprevistos marcaram a campanha, mas os voluntários não se deixaram abalar. As arrecadações aconteceram e foram destinadas à população carente da cidade.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ita.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Itapororoca </h3>
    <p>Em Abril de 2017, Itapororoca sediou o nosso projeto sob a coordenação de Ângela Souza, Mikaelle Laurentino, Yulle Flávia e Wendson César. O "Eu Amo Vida ITA", por meio da ação dos voluntários e da generosidade dos itapororoquenses, conseguiu arrecadar alimentos para a composição de 135 cestas básicas, além de 111 fraldas descartáveis. As cestas foram distribuídas nas comunidades carentes da cidade e as fraldas serão entregues, junto às arrecadadas na campanha de Mamanguape, no Hospital do Câncer da Paraíba e na Associação Donos do Amanhã.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/jacarau.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Jacaraú </h3>
    <p>Em 2018, esta querida cidade tornou-se mais uma parceira do Eu Amo Vida! A campanha, realizada em março deste ano, ultrapassou o esperado com arrecadação de brinquedos, fraldas, cestas básicas, cortes de cabelo e alcançando um recorde na coleta de bolsas de sangue. Obrigado, povo de Jacaraú, por compartilhar conosco o amor à vida!</p>
  </div>
</div>